Repository elohmeier/ftp-paperless-bridge: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check

cargo-fmt:
  name: cargo fmt
  description: Format Rust code according to style guidelines.
  language: rust
  pass_filenames: false
  entry: cargo fmt
  args:
  - --all

cargo-clippy:
  name: cargo clippy
  description: Catch common mistakes and improve Rust code with a collection of lints.
  language: rust
  pass_filenames: false
  entry: cargo clippy
  args:
  - --workspace

cargo-check:
  name: cargo check
  description: Check Rust code for compilation errors.
  language: rust
  pass_filenames: false
  entry: cargo check
  args:
  - --workspace

chore(ci): use variable ghcr root
  .github/workflows/build-release.yml
Due: none

fix: apply clippy fixes
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat: add helm chart
  .pre-commit-config.yaml
  helm/ftp-paperless-bridge/Chart.yaml
  helm/ftp-paperless-bridge/templates/NOTES.txt
  helm/ftp-paperless-bridge/templates/_helpers.tpl
  helm/ftp-paperless-bridge/templates/deployment.yaml
  helm/ftp-paperless-bridge/templates/secret.yaml
  helm/ftp-paperless-bridge/templates/service.yaml
  helm/ftp-paperless-bridge/templates/serviceaccount.yaml
  helm/ftp-paperless-bridge/values.yaml
Due: none

feat: improve error handling
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat: improve signal handling
  Cargo.toml
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat: vendor paperless client and add startup API validation
  Cargo.lock
  Cargo.toml
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat: add upload resilience with retry, health check, and spool-to-disk
  Cargo.lock
  Cargo.toml
  src/auth.rs
  src/main.rs
  src/paperless.rs
  src/spool.rs
  src/storage.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: remove unnecessary task polling after upload
  Cargo.lock
  Cargo.toml
  src/paperless.rs
  src/spool.rs
  src/storage.rs
Due: cargo-fmt, cargo-clippy, cargo-check

chore: update Cargo.lock
  Cargo.lock
Due: cargo-clippy, cargo-check

Add startup Paperless retry backoff
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  melange.yaml
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Release ftp-paperless-bridge version 0.3.3
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  helm/ftp-paperless-bridge/Chart.yaml
  melange.yaml
  src/auth.rs
  src/health.rs
  src/main.rs
  src/paperless.rs
  src/spool.rs
  src/storage.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: (Cargo.(toml|lock)|\.rs$)
  cargo-check: any of: (Cargo.(toml|lock)|\.rs$)
